body, html
{
    background-color: #000;
    overflow: hidden;
}
.all-default{

    width: 100%;
    height: 100%;
    font-family:  sans-serif;
    font-weight: 700;
    color: rgb(251,207,0);
    overflow: hidden;
}

#title
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -200px;
    left: auto;

    font-size: 60px;
    font-weight: bold;
    text-align: justify;

    transform: perspective(150px) rotateX(14deg);
}
.title-episode{
    text-align: center;
}
.title-heading{
    text-align: center;
    font-size: 56px;
}

#title-content
{
    position: absolute;
    animation: rollStarWarsAnimal 30s linear 0s infinite;
}
@keyframes rollStarWarsAnimal {
    0% { top: 100%; }
    100% { top: -250%; }
}