/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}



html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

/*по умолчанию   */
.all-container{
    font-family: 'SansSerif', serif;
    font-size: 18px;
    color: #4b4949;
    width: 1280px;
    margin: 0 100px ;
}

.main-container, .main-container, .header-container{
    font-family: 'Roboto';
}

.header-container{
    /*margin: 61px 0 60px;*/
    padding: 61px 0 60px;
}
.logo{
    display: block;
    margin-bottom: 40px;
    font-size: 80px;
    text-decoration: none;
    color: #000000;
}
.color-logo{
    color: rgb(64, 190, 255);
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #35444F;
    height: 72px;
    width: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
    border-left: 1px solid #FFFFFF;
}
.nav-item:last-child{
    border-right: 1px solid #FFFFFF;
}
.nav-link{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 38px;
    padding-left: 38px;
}
.nav-item:hover{
    background: #222F3A;
}
.menu-bar{
    display: inline-block;
    width: 344px;
    height: 402px;
    border: 1px solid #000000;
}
.nav-menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}
.nav-menu-item:hover{
    background: #DBDBDB;
    padding-left: 25px;
}
.nav-menu-link{
    color: #485863;
    text-decoration: none;
    font-size: 27px;
    padding-left: 44px;
}
.nav-menu-link:hover{
    color: #35444F;
}
.images {
    display: block;
    width: 885px;
    height: 529px;
    padding-left: 297px;
    padding-bottom: 73px;
    padding-right: 268px;
    padding-top: 75px;
    /* margin: 73px auto; */
    border: 1px solid #000000;
    margin-bottom: 57px;
}
.images:hover{
    /*width: 335px;*/
    /*height: 391px;*/
    padding-left: calc((297px - 4%));
    padding-bottom: calc((73px - 4%));
    padding-right: calc((268px - 4%));
    padding-top: calc((75px - 4%));

}
.container{
    display: flex;
    justify-content: space-between;
}
.content-image{
    width: 885px;
    /*height: 529px;*/
    background: rgba(0, 0, 0, 0.0001);
    /*border: 1px solid #000000;*/
}
.text-content-ru{
    /*margin: 37px 0 34px 396px;*/
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}
.text-content-en{
    /*margin-left: 396px;*/
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer-navigation-list{
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.footer-nav-item{
    display: flex;
    align-items: center;
    list-style: none;
}
.footer-nav-link{
    color: #0C1927;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 8px;
    margin-right: 60px;
}
.footer-nav-link:hover{
    color: rgb(40, 109, 149);
    border-bottom: 1px solid #3181A6;
}
.item-copyright{
    align-self: center;
    color: #010101;
}
.container-footer-content{
    display: flex;
    justify-content: space-around;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    width: 100%;
}

/*##Style team?*/

.body-style-dark{
    background-color: #0C1927;
}
.body-style-white{
    background-color: #FFFFFF;
}
.body-style-dark ul{
    background: #5c5c60;
}
.body-style-dark p{
    color: #dddddd;
}
.body-style-dark a {
    color: #3CB878;
}
.body-style-dark img{
    background-color: #FFFFFF;
}


#theme{
    background-color: #dddddd;
    color: #0A162F;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}


