
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../font/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #1c2a2e;
    /*font-family: Arial;*/
}

.all-container{
    background: url("../img/background.jpg") no-repeat;
    font-family: 'Roboto';
    background-size: cover;
    /*width: 1366px;*/
    /*height: 768px;*/
    font-size: 18px;
    line-height: 18px;
}


.logo-compani{
    margin-right: 8px;
}
.icon {
    display: inline-block;
    width: 53px;
    height: 47px;
    background-size: cover;
}
.logo{
    background-image: url(../img/logo.svg);
}
.title-compani{
    text-transform: uppercase;
    font-size: 29px;
    line-height: 29px;
}
.text-compani{
    text-transform: uppercase;
}
.container-t-company{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 8px;
}


.header-compani{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin: 0 auto;
    width: 1028px;
    padding-bottom: 26px;
}

.link-compani{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}
.email{
    margin-bottom: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.wrapper{
    /*width: 1025px;*/
    /*height: 768px;*/
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,270px);
    grid-gap: 25px 62px;
    color: #ffffff;

    margin: 0 auto;

    /*border: 5px solid #1de9b6;*/
    /*font-size: 20px;*/
    /*color: #23756a;*/
    text-align: center;
    margin-bottom: 50px;
}


.cart-link{
    text-decoration: none;
    color: #ffffff;
    /*border:  1px solid #223236;*/
    /*padding: 10px 0;*/
}

.images-s{

    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(45deg, #000000,#ffffff)  1%;
}
.cart-title{
    padding-top: 20px;
}


.copyright{
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-bottom: 15px;
}


.text-pirce{
    padding-bottom: 8px;
    font-size: 10px;
    line-height: 10px;
}
.pirce{
    font-size: 20px;
    line-height: 20px;
}
.v-details{
    font-size: 14px;
    line-height: 14px;
}


.v-details::after{
    width: 5px;
    height: 10px;
    padding-left: 16px;
    content: url(../img/vector.png);
    font-size: 30px;
    /*border: 1px solid #FFFFFF;*/
}

.link-compani:hover,
.link-compani:focus,
.link-compani:active{
    filter: invert(51%) sepia(17%) saturate(3067%) hue-rotate(339deg) brightness(93%) contrast(103%);

}
.email:hover,
.email:focus,
.email:active{
    color: #F26522;
}
.phone:hover,
.phone:focus,
.phone:active{
    color: #F26522;
}

.cart--hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 298px;
    height: 55px;
    position: relative;
    bottom: 97px;
    opacity: 0;
    padding: 7px 15px 12px;
    left: 1px;
    visibility: hidden;
    color: white;
    transition: .10s opacity, .10s visibility;
}

.cart-link:hover .cart--hidden {
    background: #F26522;
    opacity: 1;
    visibility: visible;
}

.cart-link:hover{
    color: #F26522;
}
.conteiner-pirce{
    display: flex;
    flex-direction: column;
}

