.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10% 0;
  display: contents;
}

.window-modal {
  width: 520px;
  height: 250px;
  position: relative;
  border-radius: 4px;
  margin: 0 auto;
}

.boxBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.boxTitle {
  position: absolute;
  height: 68px;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    left: 20px;
    position: relative;
    color: white;
    font-weight: bold;
  }
}

.close {
  color: white;
  position: relative;
  left: -16px;
  top: 18px;
  width: 38px;
  height: 38px;
}

.text {
  position: absolute;
  top: 90px;
  width: 95%;
  left: 20px;
  color: #fff;
}
