@import "./src/scss/global/mixins";
@import "./src/scss/global/variables";
@import "./src/scss/global/pro-mixins";

.footer{
  background: $color-footer;
  font-family: $font-main;
  padding-bottom: 6%;
  padding-top: 6%;
  & .footer-content{
    max-width: 684px;
  }
  @include flex(column,normal,center,nowrap);
  & .footer-title{
      color: $to-text-white-color;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 22px;
  }
  & .footer-info{
      color: $to-text-light-color;
      text-align: center;
      line-height: 28px;
  }
  & .footer-icon{
    @include flex(row,center,normal,nowrap);
  }

  & .icon-rrs{
    @include icon-social;
    background-image: url('../img/rss.svg');
  }
  & .icon-facebook{
    @include icon-social;
    background-image: url('../img/facebook.svg');
  }
  & .icon-twitter{
    @include icon-social;
    background-image: url('../img/twitter.svg');
  }
  & .icon-dribbble{
    @include icon-social;
    background-image: url('../img/dribbble.svg');
  }
  & .icon-pinterest{
    @include icon-social;
    background-image: url('../img/pinterest.svg');
  }
  & .footer-contact{
      color: $to-text-dark-color;
      text-align: center;
      line-height: 26px;
  }
}