@import "./src/scss/global/mixins";
@import "./src/scss/global/variables";
@import "./src/scss/global/pro-mixins";

.pre-header{
  @include flex(row,space-evenly,normal,nowrap);
  @include text-transform-color;
    list-style: none;
    line-height: 22px;
    padding-top: 45px;
    padding-bottom: 51px;
    font-size: $font-size-header;

   & .pre-list > .pre-link{
      text-decoration: none;
     color: $color-title;
        &:hover{
          color: $to-hover;
        }
    }

}

.burger-menu{
  position: relative;
  display: none;
  background-color: #000;
  width: 44px;
  height: 37px;
  margin-top: 23px;
}

.show {
  display: none;
}
.burgerX{
  transform: rotate(45deg);
  transition: .3s;
}
.burgerY{
  transform: rotate(-45deg);
  transition: .3s;
}

.burger-menu-line {
  position: absolute;
  top: 8px;
  right: 13px;
  width: 17px;
  height: 2px;
  background-color: $to-text-button;
  transition: .1s;
}

#second, #third{
  top: 18px;
}
#four{
  top: 28px;
}
