@import "./src/scss/global/mixins";
@import "./src/scss/global/variables";

.wrapper{
  @include image-wrapper;
  .intro{
    @include images-position(100%,auto);
  }
}
.post{
  text-transform: uppercase;
  color: $color-title;
  font-weight: $font-weight-title;
  line-height: 22px;
  padding-bottom: 24px;
}
.post-section {
  padding-bottom: 75px;
  @include grid(repeat(auto-fill, minmax(405px, 1fr)),24px,33px);
  & .post-img{
  @include image-xy(160px,auto);
  }
  & .post-title{
    font-weight: $font-weight-title;
    color: $color-title;
    line-height: 30px;
  }
  & .post-coment{
    color: $to-text-dark-color;
    font-size: $font-size-comment;
    line-height: 20px;
  }
  & .post-text{
    font-size: $font-size-text;
    line-height: 26px;
    color: $color-text;
  }
  & .post-box{
    position: relative;
  }
  & .post-content{
    top: 0;
    left: 180px;
    position: absolute;
  }
}