
/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* alata-regular - latin */
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alata-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Alata Regular'), local('Alata-Regular'),
    url('../fonts/alata-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alata-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/alata-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/alata-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/alata-v2-latin-regular.svg#Alata') format('svg'); /* Legacy iOS */
}


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #1d1f1d;
}
/*HEader*/
.all-container{
    background: url("../img/background-fone.jpg") no-repeat;
    font-family: 'Ubuntu', SansSerif;
    background-size: cover;
    font-size: 18px;
    line-height: 18px;

}

/*±± HEADER ±±*/
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 156px);
}
.header-menu{
    padding: 18px 0px 18px;
    background: rgba(0, 0, 0, 0.4);
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.navigation  :nth-child(4)::before{
    content: '';
    padding-right: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.icon {
    display: inline-block;
    margin-right: 25px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}
.icon:hover{
    filter: invert(65%) sepia(57%) saturate(559%) hue-rotate(96deg) brightness(87%) contrast(82%);
}
.vector_calendar{
    background-image: url(../img/vector_calendar.svg);
}
.vector_compas{
    background-image: url(../img/vector_compas.svg);
}
.vector_post{
    background-image: url(../img/vector_post.svg);
}
.logo-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo-link:hover{
    color: rgb(35, 108, 70);
}
.nav-item, .link-nav{
    display: flex;
    align-self: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.link-nav:hover{
    color: rgb(35, 108, 70);
}

/*FORM?|*/

.content-form {
    /*height: calc(444 - 100%));*/
    width: 100%;
    height: 771px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-form{

    background: #FFFFFF;
    position: absolute;
    width: 444px;

}
.conteiner-form::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 30px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.block-form{
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.login-In{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.login-In:hover{
    color: #01813F;
}
.conents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.title-sign{
    color: #434343;
}

.btn-facebook{
    display: flex;
    align-items: center;
    padding-left: 17px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    font-size: 16px;
    line-height: 16px;
    transition: 0.3s linear;
}
.btn-facebook:hover{
    background-color: #022263 ;
}
.btn-facebook .logo-social::after{
    content: '';
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    margin-right: 18px;
    margin-left: 18px;
}

.btn-google{
    display: flex;
    align-items: center;
    padding-left: 12px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    background-color: #DF4A32;
    transition: 0.3s linear;
}
.btn-google:hover{
    background-color: #AB1F09;
}

.btn-google .logo-social::after{
    content: '';
    border-left: 1px solid #2B0D09;
    opacity: 0.1;
    margin-right: 30px;
    margin-left: 7px;
}

.logo-social{
    font-family: 'Alata', SansSerif;
    font-size: 28px;
}

.separator  {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.separator:before {
    display: block;
    width: 300px;
    content: '';
    position: absolute;
    border: 1px solid #F2F2F2;
    top: 50%;
    right: 25px;
}

.separator:after {
    display: block;
    width: 300px;
    content: '';
    position: absolute;
    border: 1px solid #F2F2F2;
    top: 50%;
    left: 25px;
}
.separator-content{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 11px;
}
.inputs-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 38px;
}
.inputs-group-itm{
    color: #434343;
    font-size: 14px;
    padding: 16px 0 16px 0;
    margin-bottom: 15px;
    width: 100%;
    align-self: center;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    text-indent: 20px;
}
.inputs-group-itm:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.inputs-group-checkbox{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    text-decoration: none;
    padding-bottom: 20px;
}
.checkbox-title{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.checkbox-title:hover{
    color: #01813F;
    text-decoration: underline;
}
#chx{
    outline: none;
}

.inputs-group-checkbox input[type="checkbox"]:checked,
.inputs-group-checkbox input[type="checkbox"]:not(:checked)
{
    position: absolute;
}
.inputs-group-checkbox input[type="checkbox"]:checked + label,
.inputs-group-checkbox input[type="checkbox"]:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
.inputs-group-checkbox input[type="checkbox"]:checked + label:before,
.inputs-group-checkbox input[type="checkbox"]:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0 ;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #ffffff;
}
.inputs-group-checkbox input[type="checkbox"]:checked + label:after,
.inputs-group-checkbox input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 2px;
    top: 4px;
    width: 15px;
    height: 8px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-54deg);
}
.inputs-group-checkbox input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}
.inputs-group-checkbox input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
.create-btn {
    background: rgba(60, 184, 120, 0.8);
    border: none;
    width: 100%;
    height: 46px;
    align-self: center;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.3s linear;
}
.create-btn:hover{
    background: #01813F;
}