<div class="footer">
    <div class="footer-content">
    <h3 class="footer-title">- get in touch with us -</h3>
    <p class="footer-info">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
    <div class="footer-icon">
        <a href="#" class="icon-rrs"></a>
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-dribbble"></a>
        <a href="#" class="icon-pinterest"></a>
    </div>
    <p class="footer-contact"> Moonshine St. 14-05 Light City&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;T. +00 (123) 456 78 90&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;first.last@email.com</p>
    </div>
</div>