<header class="header">
    <div class="burger-menu" id="triggerMenu">
        <div class="burger-menu-line" id="first"></div>
        <div class="burger-menu-line" id="second"></div>
        <div class="burger-menu-line" id="third"></div>
        <div class="burger-menu-line" id="four"></div>
    </div>
    <nav class="header_menu" id="menuList">
        <ul class="pre-header">
        <li class="pre-list"><a href="#" class="pre-link">Home</a></li>
        <li class="pre-list"><a href="#" class="pre-link">About Us</a></li>
        <li class="pre-list"><a href="#" class="pre-link">Our Journal</a></li>
        <li class="pre-list"><a href="#" class="pre-link">Projects</a></li>
        <li class="pre-list"><a href="#" class="pre-link">news</a></li>
        <li class="pre-list"><a href="#" class="pre-link">features</a></li>
        <li class="pre-list"><a href="#" class="pre-link">contact</a></li>
    </ul>
    </nav>
</header>

