<div class="wrapper">
<img class="intro" src="img/intro.png" alt="intro-img">
</div>

<h2 class="post">- our Recent posts</h2>
<div class="post-section">
        <div class="post-box">
            <img class="post-img" src="img/post1.jpg" alt="intro-img">
                <div class="post-content">
            <h3 class="post-title">Aenean Adipiscing Etiam Vestibulum</h3>
            <p class="post-coment">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</p>
            <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
        </div>
        <div class="post-box">
            <img class="post-img" src="img/post2.jpg" alt="intro-img">
                <div class="post-content">
            <h3 class="post-title">Aenean Adipiscing Etiam Vestibulum</h3>
            <p class="post-coment">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</p>
            <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
        </div>
        <div class="post-box">
            <img class="post-img" src="img/post3.jpg" alt="intro-img">
                <div class="post-content">
            <h3 class="post-title">Aenean Adipiscing Etiam Vestibulum</h3>
            <p class="post-coment">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</p>
            <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
        </div>
        <div class="post-box">
            <img class="post-img" src="img/post4.jpg" alt="intro-img">
                <div class="post-content">
            <h3 class="post-title">Aenean Adipiscing Etiam Vestibulum</h3>
            <p class="post-coment">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</p>
            <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
        </div>
</div>