@import "global/reset";
@import "global/fonts";
@import "sections/header";
@import "sections/main";
@import "sections/instagram";
@import "sections/footer";
.container{
    font-family: $font-main;
    font-size: $font-size-main;
    margin: 0 auto;
    max-width: 1200px;
    .container-flow{
        padding-right: 8%;
        padding-left: 8%;
    }
}
@import "global/media";
