/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./dist/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./dist/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./dist/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./dist/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./dist/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./dist/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./dist/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./dist/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./dist/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./dist/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./dist/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./dist/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}