@media (min-width: 481px) and (max-width: 554px) {
  .post-section .post-text{
    line-height: 1.2;
  }
};
@media (min-width: 993px) and (max-width: 1130px) {
  .post-section .post-text{
    line-height: 1.1;
  }
};

@media  (max-width: 480px) {
  .post-section{grid-template-columns: repeat(auto-fill,minmax(260px,1fr))}
  .post-section .post-content {position: unset;}
  .post-section .post-text{line-height: 1;}
  .post{font-size: $mobile-font-size-main}
  .post-coment{font-size: $mobile-font-size-comment}
  .post-title{font-size: $mobile-font-size-text}
  .footer .footer-content{max-width: 303px;}
  .footer{font-size: $mobile-font-size-main}
  .footer .footer-info {
    line-height: 20px;
    font-size: $mobile-font-size-footer-info
  }
  .footer .footer-contact{line-height: 24px;
  }
};

@media  (max-width: 768px) {
  .burger-menu{ display: block;}
  .pre-header {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 1;
    @include flex(column, normal, normal, nowrap);

    .pre-list {
      background-color: $color-burger-tab;
    }
  }
  .container .container-flow {position: relative;}
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header_menu {width: 183px;}
  .pre-link {padding-left: 12px;}
  .pre-list {
    padding: 6px 0;
    width: 183px;
  }
  .wrapper {top: 15px;}
  .post {padding-top: 30px;}
  .post-text{display: none}
  & .pre-list:hover{
    background: #E5E5E5;
  }
};

