
@mixin flex($direction,$justify,$aling-item,$wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aling-item;
  flex-wrap: $wrap;
}

@mixin grid($template,$gap-column,$gap-row) {
  display: grid;
  grid-template-columns: $template;
  grid-column-gap: $gap-column;
  grid-row-gap: $gap-row;
}

@mixin image-wrapper{
    position: relative;
    padding-top: 56.25%;
}

@mixin images-position($width,$height) {
  position: absolute;
  left: 0;
  top: 0;
 @include image-xy($width,$height);
}

@mixin image-xy($width,$height) {
  width: $width;
  height: $height;
}


