@import "./src/scss/global/variables";

@mixin text-transform-color {
  color: $color-title;
  text-transform: uppercase;
}
@mixin icon-social {
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  width: 34px;
  height: 34px;
  margin: 3px;
}