// - - Fonts - -
$font-main : "Roboto", sans-serif;
// - - Color - -
$color-main : rgba(0, 0, 0, 0.0001);
$color-section : rgba(221, 221, 221, 0.87);
$color-footer : #000000;
$color-title : #4E4E4E;
$color-text : #5C5C5C;
$color-burger-tab: #F5F5F5;


$to-text-white-color : #FEFEFE;
$to-text-light-color : #B9B9B9;
$to-text-dark-color : #7C7C7C;
$to-hover: #57A4A4;

$to-button-color : #000000;
$to-text-button : #FFFFFF;;

$font-size-main : 16px;
$font-size-text : 14px;
$font-size-comment : 12px;
$font-size-header: 11px;


//@mobile validable
$mobile-font-size-main : 14px;
$mobile-font-size-text : 14px;
$mobile-font-size-comment : 11px;
$mobile-font-size-footer-info: 12px;

$font-weight-title: bold;