/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

    html{
        box-sizing: border-box;
    }
    *, *::before, *::after{
        box-sizing: inherit;
    }

    /*по умолчанию   */
    body{
        font-family: 'SansSerif', serif;
        font-size: 18px;
        color: #4b4949;
    }
    /*прибить к верху  */
    .wrapper{
        top: 0;
    }
    /*прибить к верху и в лево растянуть*/
    .header{
        top: 0;
        left: 0;
        width: 100%;
    }
/*TOP__MENU start*/

.header__wrapper{
        display: flex; /*флекс*/
        flex-wrap: wrap; /*тип переноса */
        align-items: flex-end; /*перенос в конец */
        justify-content: center; /*распределяет пространство*/

        /*( можно обеденить в один  @  padding: 25px 0 25px; @)*/
        padding-top: 25px; /*внутринний отступ сверху */
        padding-bottom: 25px; /*внутринний отступ снизу*/
    }
    .header__nav{
        top: 0; /* Положение от верхнего края */
    }
    .header__list{
        display: flex; /*флекс*/
        flex-wrap: wrap; /*тип переноса */
    }
    .header__item{
        list-style: none; /*убрать стилизацию*/
        margin-right: 72px; /*внешний отступ справа*/
    }
    .header__item:last-child{
        margin-right: 0; /*внешний отступ справа*/
    }
    .header__link{
        font-size: 18px; /*размер шрифта*/
        line-height: 18px; /*межсрочный интервал*/
        font-weight: bold; /*жирный шрифт*/
        text-decoration: none; /*убрать дерокацию*/
        text-transform: uppercase; /*все заглавные*/
        letter-spacing: 2.7px; /*межбуквенный интервал*/
        color: #FF0000; /*цвет*/
    }
  /*  ховер ефект и т.д для теста вне домашнего задания*/
    .header__link:hover,.header__link:focus,.header__link:active{
        opacity: .65; /*прозрачность*/
    }
    .picture{
        width: 100%; /*/растянуть по ширине екрана*/
        height: auto; /*авто */
    }
/*TOP__MENU end*/

.page{
    margin: 0 auto; /*выровнять по центу*/
    max-width: 1145px; /*максимальный размер*/
}

/*PAGE start*/

    .title__page {
        text-transform: uppercase; /*все заглавные*/
        text-align: center; /*текст по центру */
        font-weight: bold; /*жирный шрифт*/
        font-size: 22px; /*размер шрифта*/
        line-height: 27px; /*межсрочный интервал*/
        letter-spacing: 3.3px; /*межбуквенный интервал*/
         /*можно обеденить в месте @  margin: 49px 0 28px; @*/
        margin-top: 49px; /* внешний верхний отсуп*/
        margin-bottom: 28px; /*внешний нижний отступ*/
        color: #373737; /*цвет*/
    }
    .text{
        margin-bottom: 28px;  /*внешний нижний отступ*/
        font-size: 16px; /*размер шрифта*/
        line-height: 26px; /*межсрочный интервал*/
        text-align: center; /*по центру*/
        letter-spacing: 2.4px; /*межбуквенный интервал*/
        color: #373737;/* цвет*/
    }

    .button__add{
        display: block; /*в блок*/
        margin: 0 auto; /*по центру*/

        /*можно кнопку сделать через pading*/
        width: 191px; /*шрина*/
        height: 51px; /*висота*/

        font-weight: bold; /*жирный текст*/
        font-size: 12px; /*размер текста*/
        line-height: 12px; /*межсрочный интервал*/
        align-items: center; /*центрировать текст*/
        letter-spacing: 1.8px; /*межбуквеный интервал*/
        text-transform: uppercase; /*все большие */
        background: #FF0000; /*цвет кнопки*/
        color: #FFFFFF; /*цвет текста*/
        border-radius: 4px; /*закругление углов*/
        border: none; /*убрать борта у кнопки*/
    }

/*PAGE end*/

/*FOOTER ELEMENT start*/
.text__footer{

    margin-top: 82px; /*внешний отступ сверху */
    margin-bottom: 29px; /*внешний отступ  снизу*/
    margin-right: 37px; /*внешний оступ справа*/


    text-align: right; /*переместить текст в право*/
    font-weight: bold;/* жирный текст*/
    font-size: 16px; /*размер текста*/
    line-height: 20px; /*межсрочный интервал*/
    letter-spacing: 2.4px;/*межбуквеный интервал*/
    color: #373737; /*цвет текста*/
}

/*FOOTER ELEMENT end*/