/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}


html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

/*по умолчанию   */
.all-default-container{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #4b4949;
    width: 100%;
    background: rgba(0, 0, 0, 0.0001);
}

/*<!--    __HEADER__  -  start  -->*/

.box-link{
    text-decoration: none;
    padding: 19px;
    font-size: 22px;
    color: #FFFFFF;
}
.logo-image{
    margin-right: 27px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.navigation{
    display: flex;
    flex-direction: row;
}

.nav-link{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #14B9D5;
}
.nav-item{
    margin-right: 35px;
}
.nav-item:last-child{
    margin-right: 0;
}
.search{
    background-color: #000000;
    border: #000000 solid 4px;
}
/*<!--    __HEADER__  -  end  -->*/

.image-background-section{
    width: 100%;
}
.header-section{
    background: url("../img/header-background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.section-container{
    display: flex;
    flex-direction: column;
}
.title-compani{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 163px;
    margin-bottom: 44px;
}
.button-conteiner{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.subscribe{
    color: #FFFFFF;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    width: 170px;
    height: 55px;
    background: #89CA62;
    margin-bottom: 74px;
}
.best{
    color: #FFFFFF;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    width: 170px;
    height: 55px;
    background: #14B9D5;
    margin-left: 20px;
    margin-bottom: 74px;
}

 /*Most popular posts section start*/

.content-section{
    margin: 0 auto;
    background: #F2F2F2;
    padding-bottom: 74px;
    padding-top: 69px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.posts-title{
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 52px;
    font-weight: bold;
}
.images {
    width: 100%;
    margin-bottom: 20px;
}
.cart-link{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding-bottom: 22px;
    margin-bottom: 31px;
}
/*Most popular posts section end*/

/*our most popular clients start  footer GRID*/

.clients-container{
    background: url("../img/Layer4.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 51px;
}

.title{
    padding-top: 108px;
    display: grid;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 78px;
}
.horizont-line{
    background: #18B4CF;
    width: 60px;
    height: 3px;
    border: none;
    margin-bottom: 106px;
}

.image-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas:
    ". label-logo1 label-logo2 label-logo3 label-logo4 .";
    padding-bottom: 205px;
}


.label-logo1 { width: 100%; grid-area: label-logo1; }
.label-logo2 { width: 100%; grid-area: label-logo2; }
.label-logo3 { width: 100%; grid-area: label-logo3; }
.label-logo4 { width: 100%; grid-area: label-logo4; }


.image-container-galerey{
    display: grid;
    justify-content: flex-end;
    grid-template-rows: 1fr;
    /*gap: 1px 1px;*/
    grid-template-areas:
    "image-galere1 image-galere2 image-galere3 image-galere4 image-galere5 image-galere6 image-galere7";
    padding-bottom: 205px;
}
.image-galere1 { width: 100%; grid-area: image-galere1; }
.image-galere2 { width: 100%; grid-area: image-galere2; }
.image-galere3 { width: 100%; grid-area: image-galere3; }
.image-galere4 { width: 100%; grid-area: image-galere4; }
.image-galere5 { width: 100%; grid-area: image-galere5; }
.image-galere6 { width: 100%; grid-area: image-galere6; }
.image-galere7 { width: 100%; grid-area: image-galere7; }



.news-conteinet {
    display: grid;
    justify-content: center;
    grid-column-gap: 35px;
    grid-row-gap: 45px;
    grid-template-areas:
    "top-content top-content top-content top-left-content";
}

.top-content {
    display: grid;
    grid-auto-flow: column;
    grid-area: 1 / 1 / 2 / 4;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 856px;
}
.top-left-content {
    display: grid;
    text-align: center;
    align-content: inherit;
    grid-area: 1 / 4 / 2 / 5;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 277px;
}
.left-content {
    display: grid;
    text-align: right;
    align-content: inherit;
    grid-area: 2 / 1 / 3 / 3;
    width: 554px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);}
.ring-content {
    display: grid;
    text-align: right;
    align-content: inherit;
    grid-area: 2 / 3 / 3 / 5;
    width: 554px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.left-content-botom {
    display: grid;
    text-align: right;
    grid-area: 3 / 1 / 4 / 3;
    align-content: inherit;
    width: 554px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.ring-content-botom {
    display: grid;
    text-align: right;
    grid-area: 3 / 3 / 4 / 5;
    align-content: inherit;
    width: 554px;
    /*height: 418px;*/
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.botom-left {
    display: grid;
    text-align: center;
    grid-area: 4 / 1 / 5 / 2;
    align-content: inherit;
    width: 277px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.botom-ring {
    display: grid;
    grid-area: 4 / 2 / 5 / 5;
    grid-auto-flow: column;
    width: 856px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.contener-gr{
    display: grid;
    margin-right: 24px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: end;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.cart-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #353A3D;
}
.images-im1{
    vertical-align: top;
    width: 500px;
}

.images-im2{
    width: 277px;
}

.images-im3{
    width: 554px;
}

.images-im4{
    width: 554px;
}

.images-im5{
    width: 554px;
}

.images-im6{
    width: 554px;
}
.images-im7{
    width: 277px;
}
.images-im8{
    width: 495px;
    vertical-align: top;
}
.image-galerey{
    background: rgba(0, 0, 0, 0.0001);
    padding-bottom: 77px;
}

.end-content-conteiner{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80px;
    background: #000000;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px;
    grid-template-areas: "architect box-link";
}

.architect { grid-area: 1 / 1 / 2 / 2; }

.box-link { grid-area: 1 / 2 / 2 / 3; }

/*our most popular clients  footer end   GRID*/


#button-up{
    padding: 16px;
    background: aqua;
    border-radius: 5px;
    display: none;
    opacity:0.5;
    filter:alpha(opacity=85);
    position: fixed;
    right: 20px;
    bottom: 50px;
    color: #000;
    transition: 1.3s;
}

#button-up:hover{
    cursor: pointer;
    opacity: 1;
    filter:alpha(opacity=85);
    color: darkorange;
    transition: .4s;
}

.slide-toggle{
    padding: 7px;
    background: aqua;
    border-radius: 5px;
}