/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/montserrat-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.pre-header-container {
    background-image: url("../img/wallpcomany.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.pre-header {
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
}

.pre-wrapper {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1160px;
}

.pre-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-nav {
    display: flex;
}

.pre-desktop-menu {
    display: flex;
}

.logo {
    padding: 18px 14px 18px 14px;
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 200;
}

.logo-h {
    clip-path: polygon(50% 5%, 100% 29%, 100% 74%, 50% 95%, 0 73%, 1% 29%);
    background: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    padding: 14px
}

.logo-ham {
    font-weight: 600;
    color: #18CFAB;
}

.pre-desktop-menu-item {
    padding: 49px 21px;
}

.pre-desktop-menu-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    transition: color, border-bottom-color 0.25s ease;
    border-bottom: transparent;

}

.pre-search-contain:hover{
    color: #18CFAB;
    filter: invert(24%) sepia(17%) saturate(5639%) hue-rotate(122deg) brightness(125%) contrast(81%)
}

.pre-desktop-menu-item:hover {
    border-bottom: 2px solid #18CFAB;
}

.pre-desktop-menu-item:hover >.pre-desktop-menu-link {
    color: #18CFAB;
}

.pre-desktop-menu-item:last-child{
    border: none;
}

.pre-article-content {
    padding-top: 265px;
    text-align: center;
    padding-bottom: 243px;
}

.pre-article {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 134px;
}

.pre-article-top {
    font-size: 35px;
}

.pre-article-top-style {
    color: #18CFAB;
}

.pre-article-bottom {
    font-weight: normal;
    text-transform: none;
    font-size: 34px;
    color: #D4D4D4;
}

.pre-btn {
    border: none;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px #FFFFFF;
    width: 13em;
    height: 5em;
    margin: 13px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    cursor: pointer
}

.btn-explore {
    background: #18CFAB;
}

.btn-purchase {
    background: #00CBF6;
}


.ser-block-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 83px;
}

.ser-box {
    text-align: center;
    width: calc(100% / 4);
    height: 337px;
    background: #1c2a33;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ser-box:nth-child(2n) {
    background: #18CFAB;
}

.box {
    display: flex;
    flex-grow: 0.3;
    height: 4em;
}

.box-link-w {
    text-decoration: none;
    color: #FFFFFF;
}

.box-link-g {
    text-decoration: none;
    color: #18CFAB;
}

.icon-oprion {
    width: 58px;
    height: 97px;
    background-image: url(../img/oprion.svg);
}

.icon-customizable {
    width: 93px;
    height: 75px;
    background-image: url(../img/customizable.svg);
}

.icon-support {
    width: 60px;
    height: 96px;
    background-image: url(../img/support.svg);
}

.icon-device {
    width: 99px;
    height: 76px;
    background-image: url(../img/device.svg);
}

.pre-inst-container {
    background-image: url("../img/install.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 127px 0;
}

.pre-inst-title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.pre-inst-text {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 65px;
    color: #D8D8D8;
}


.services-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 23px;
    cursor: pointer
}

.services-list li {
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: 194px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    color: #717171;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul .active-servis {
    background: #18CFAB;
    color: #FFFFFF;
}

ul .active-servis::after {
    content: '';
    position: absolute;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

.services-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 91px;
}

.ser-img {
    width: 192px;
    height: 139px;
}

.slider-item-service {
    display: flex;
    flex-direction: row;
}

.text-service {
    margin-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.style-block-bg {
    background: #E9EDEF;
    padding-top: 96px;
    margin-bottom: 82px;
}

.collection-group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card {
    width: 285px;
    height: 206px;
    position: relative;
    perspective: 1000px;
    border-top: 3px solid transparent;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    backface-visibility: hidden;
    background-color: #E9EDEF;
    -webkit-backface-visibility: hidden;
}

.front img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.back {
    /*transform: rotateX(180deg);*/
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    border-top: 3px solid #18CFAB
}

.card:hover .front {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
}

.card:hover .back {
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
}


.scol-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scol {
    margin: 46px 3px;
    width: 43px;
    height: 43px;
    box-shadow: 0 0 0 1px rgba(0, 203, 246, 1), 0 0 1px rgba(0, 203, 246, 1);
    border-radius: 100px;
    background: transparent;
    position: relative;
}

.scol:hover {
    background: #18CFAB;
}

.shape {

}

.shape {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 17px;
    display: block;
    background-size: cover;
}

.logo-shape {
    background-image: url(../img/shape.svg);
}


.cube {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 15px;
    left: 15px;
    background: #18CFAB;
}

.scol:hover > .link-cart > .cube {
    background: #FFFFFF;
}

.scol:hover > .link-cart-icon > .shape {
    filter: brightness(11.5);
}


.posts:hover > .posts-title {
    color: #18CFAB;
}

.link-cart-text {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    text-decoration: none;
}

.back span {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.hidden {
    display: none;
}


.collection-list {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.collection-list li {
    -moz-user-select: none;
    user-select: none;
    padding: 28px 28px;
    border: 1px solid #DADADA;
}

ul .active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.btn-cont {
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
}

.load {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    margin: 0 auto;
    padding: 22px 23px;
    outline: none;
    cursor: pointer
}

.load img {
    padding-right: 15px;
}


.wrapper-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
    grid-column-gap: 35px;
    grid-row-gap: 43px;
    margin-bottom: 128px;
}


.posts {
    width: 258px;
    height: 288px;
    position: relative;
}

.posts:hover {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.posts:hover > div {
    background: #18CFAB;
}

.posts:hover > .posts-title {
    color: #18CFAB;
}

.posts div {
    width: 70px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #203E38;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.posts img {
    width: 100%;
}

.posts-title {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #717171;
}

.posts-status {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #777777;
}

.posts-status span {
    padding-right: 15px;
    padding-left: 15px;
}


.title-blocks {
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
    margin-bottom: 100px;
}

.title-blocks:after {
    background-color: #18CFAB;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 24px;
    left: 45%;
    vertical-align: bottom;
    width: 79px;
    box-shadow: 15px 4px 0px 0px #18CFAB;
}

.conteiner-people {
    background-image: url("../img/wallpupl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*height: 853px;*/
}

.people-title {
    margin-top: 100px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.people-name {
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.people-text-work {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}


.avatar-icon-style {
    margin-top: 38px;
    width: 142px;
    height: 142px;
    box-shadow: 0 0 0 12px rgba(31, 218, 181, 0.2), 0 0 15px rgba(31, 218, 181, 0.2);
    background-size: 142px 142px;
    border-radius: 100px;
    margin-bottom: 12px;
}

.avatar-icon-style-pagin {
    width: 61px;
    height: 61px;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2), 0 0 7px rgba(31, 218, 181, 0.2);
    background-size: 61px 61px;
    border-radius: 100px;
    transition: .3s;
}

.avatar-icon-one {
    background-image: url(../img/logouser1.png);
    background-repeat: no-repeat;
}

.avatar-icon-two {
    background-image: url(../img/logouser2.png);
    background-repeat: no-repeat;
}

.avatar-icon-three {
    background-image: url(../img/logouser3.png);
    background-repeat: no-repeat;
}

.avatar-icon-four {
    background-image: url(../img/logouser4.png);
    background-repeat: no-repeat;
}


.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-item:before {
    content: "";
    background-image: url('../img/quotes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 47px;
    height: 33px;
    font-size: 44px;
    margin-bottom: 36px;
}

.slider-container {
    overflow: hidden;
    margin-bottom: 50px;
}

.slider-container-servise {
    overflow: hidden;
    margin-bottom: 50px;
}

.slider-track {
    display: flex;
    transition: .3s;
}

.slider-track-service {
    display: flex;
    transition: .3s;
}


.conteiner-pagin {
    width: 482px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.btn-pagin {
    outline: none;
    height: 31px;
    width: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    transition: .20s ease-in-out;
}

.btn-pagin:hover {
    color: #FFFFFF;
    background: #18CFAB;;
}

.f-footer {
    display: flex;
    background: #22353F;
    width: 100%;
    height: 121px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    align-items: center;
    justify-content: center;
}


.loader {
    font-size: 45px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 100;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loadkit 1.7s infinite ease;
    animation: load 1.7s infinite ease;
}

@-webkit-keyframes loadkit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #18CFAB;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #18CFAB;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.087em -0.825em 0 -0.42em #1c2a33, -0.173em -0.812em 0 -0.44em #1c2a33, -0.256em -0.789em 0 -0.46em #1c2a33, -0.297em -0.775em 0 -0.477em #18CFAB;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.338em -0.758em 0 -0.42em #1c2a33, -0.555em -0.617em 0 -0.44em #1c2a33, -0.671em -0.488em 0 -0.46em #1c2a33, -0.749em -0.34em 0 -0.477em #1c2a33;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.377em -0.74em 0 -0.42em #1c2a33, -0.645em -0.522em 0 -0.44em #1c2a33, -0.775em -0.297em 0 -0.46em #1c2a33, -0.82em -0.09em 0 -0.477em #1c2a33;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #1c2a33;
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #1c2a33;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #1c2a33;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.087em -0.825em 0 -0.42em #1c2a33, -0.173em -0.812em 0 -0.44em #1c2a33, -0.256em -0.789em 0 -0.46em #1c2a33, -0.297em -0.775em 0 -0.477em #1c2a33;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.338em -0.758em 0 -0.42em #1c2a33, -0.555em -0.617em 0 -0.44em #1c2a33, -0.671em -0.488em 0 -0.46em #1c2a33, -0.749em -0.34em 0 -0.477em #1c2a33;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, -0.377em -0.74em 0 -0.42em #1c2a33, -0.645em -0.522em 0 -0.44em #1c2a33, -0.775em -0.297em 0 -0.46em #1c2a33, -0.82em -0.09em 0 -0.477em #1c2a33;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #1c2a33, 0 -0.83em 0 -0.42em #1c2a33, 0 -0.83em 0 -0.44em #1c2a33, 0 -0.83em 0 -0.46em #1c2a33, 0 -0.83em 0 -0.477em #1c2a33;
    }
}